<div class="row">
    <div class="col-md-12">
      <form #form="ngForm" action="index.php" method="post">
        <div class="form__personal_info" ngModelGroup #personalInfo="ngModelGroup">
          <div *ngIf="personalInfo.touched && !personalInfo.valid">
            <div *ngIf="firstName.touched && !firstName.valid" class="alert alert-danger">This field is required!.</div>
            <div *ngIf="lastName.touched && !lastName.valid" class="alert alert-danger">This field is required!.</div>
          </div>
          <div class="form-group">
            <label for="firstName">first name</label>
            <input 
              name="firstName" 
              id="firstName" 
              type="text" 
              class="form-control"
              required  
              ngModel 
              #firstName="ngModel" 
              (change)="log(form)">
          </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input 
            name="lastName" 
            id="lastName" 
            type="text" 
            class="form-control"
            required  
            ngModel 
            #lastName="ngModel" 
            (change)="log(personalInfo)">
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
        <input [disabled]="form.invalid" class="btn btn-primary" value="submit" type="submit">
      </form>
    </div>
  </div>
  