
<div class="row">
  <div class="col-md-12">
    <form #form="ngForm" action="index.html" method="post" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="">Course Name</label>
        <input 
          type="text" 
          id="courseName"
          name="name"
          class="form-control"
          required
          minlength="3"
          #name="ngModel"
          ngModel>
          <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
            <p *ngIf="name.errors.required">name required</p>
            <p *ngIf="name.errors.minlength">mix length: {{name.errors.minlength.requiredLength}}</p>
          </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select 
          [attr.test]="test"
          name="category" 
          id="category" 
          class="form-control"
          required
          ngModel 
          #cat> 
          <option value=""></option>
          <option *ngFor="let category of categories" [value]="category.name">
            {{category?.name}}
          </option>
          <!--  IF YOU WANNA PASS MORE COMPLEX INFORMATION -->
          <!-- <option *ngFor="let category of categories" [ngValue]="category">
            {{category?.name}}
          </option> -->
        </select>
      </div>
      <div class="form-group checkbox">
        <input 
          id="mony-back"
          type="checkbox"
          name="moneyBack"
          ngModel
          #moneyBack>
        <label for="mony-back">Money Back</label>
      </div>
      <input [disabled]="form.invalid" class="btn btn-primary" type="submit" value="Create">
    </form>
    <p>{{ form.value | json}}</p>
  </div>
</div>