<main class="container-fluid">
  <!-- <favorite [isFavorited]="post.isFavorited" (change)="onFavoriteChanged($event)"></favorite> -->
  <!-- <courses></courses> -->
  <!-- <panel--bootstrap>
    <ng-container class="heading">This is the heading</ng-container>
    <div class="body">
      <h2>This is the body</h2>
    </div>
  </panel--bootstrap> -->
  <!-- <like 
    [likesAmount]="tweet.likesAmount"
    [isLiked]="tweet.isLiked"
  ></like> -->
  <!-- <if-directive></if-directive> -->
  <!-- <ng-switch-case></ng-switch-case> -->
  <!-- <ng-class></ng-class> -->
  <!-- <safe-traversal></safe-traversal> -->
  <!-- CUSTOM DIRECTIVE EXAMPLE - INPUT FORMATTING-->
  <!-- <input type="text" [inputFormatting]="'uppercase'"> -->
  <!-- <zippy title="This the heading">
      This is some text
  </zippy>
  <zippy title="This the heading 2">
      This is some text 2
  </zippy> -->
  <!-- <model-group></model-group> -->
  <!-- <contact-form></contact-form> -->
  <!-- <my-reactive-form></my-reactive-form> -->
  <!-- <form-with-arrays></form-with-arrays> -->
  <form-builder></form-builder>
</main>